/* 어패럴 상품 페이지 구현 시작 */
.apparel-page {
  padding-top: 180px;
  color: #212121;
}

.apparel-page__category ul {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}

.apparel-page__category ul li.active p {
  color: #212121;
  font-weight: bold;
}

.apparel-page__category ul li.active p::after {
  display: block;
}

.apparel-page__category ul li p {
  position: relative;
  font-size: 20px;
  cursor: pointer;
  display: block;
  color: #7f7f7f;
  user-select: none;
}

.apparel-page__category ul li p::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  display: none;
}

.apparel-page__filter-line {
  position: sticky;
  top: 80px;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px 0;
  margin-top: 80px;
  white-space: nowrap;
  z-index: 10;
}

.apparel-page__filter-line > div > p {
  cursor: pointer;
  color: #7f7f7f;
  user-select: none;
}

.apparel-page__filter-line .pc-filter.active {
  font-weight: bold;
  color: #212121;
}

.pc-icon-filter.active {
  font-weight: bold;
  color: #212121;
}

.pc-icon-filter.active > svg {
  transform: rotate(180deg);
  margin-top: 2px;
}

.apparel-page__prod {
  margin-top: 50px;
}

.apparel-page__prod ul {
  --cc: 3;
  --gap: 40px;
  gap: 70px var(--gap);
}

.apparel-page__prod ul li {
  width: calc(100% / var(--cc) - (var(--gap) * (var(--cc) - 1)) / var(--cc));
}

.apparel-page__prod-img {
  position: relative;
  background-color: #eee;
  cursor: pointer;
  user-select: none;
}

.apparel-page__prod-img img {
  width: 100%;
  display: block;
  padding: 30px;
  transition: opacity 0.5s;
}

.apparel-page__swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.7s;
}

.apparel-page__prod-img .swiper-button-group {
  position: absolute;
  top: 50%;
  width: 100%;
}

.apparel-page__prod-img .swiper-button {
  font-size: 24px;
  color: #505050;
}

.swiper-button i {
  font-weight: 600 !important;
}

.apparel-page__prod-img .swiper-button::after {
  content: "";
}

.apparel-page__prod-img .swiper-pagination {
  position: absolute;
  bottom: 0 !important;
  display: flex;

  .swiper-pagination-bullet {
    flex: 1 1 0%;
    height: 2px;
    border-radius: 0;
    margin: 0 !important;
    background-color: #888;
    transition: all 0.5s;

    &.swiper-pagination-bullet-active {
      background-color: #000;
    }
  }
}

.apparel-page__banner-wrap {
  position: relative;
}

.apparel-page__banner-wrap::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent 0%, black 90%);
}

.apparel-page__banner-text {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 0 10px;
  z-index: 3;
}

.apparel-page__banner-text a {
  font-size: 16px;
  text-decoration: underline;
}

.apparel-page__banner-text a:hover {
  text-decoration: none;
}

.icon-heart {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 3;
}

.icon-heart path {
  stroke: #212121;
}

.icon-heart.active path {
  fill: red;
  stroke: red;
}

.apparel-page__prod-name {
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
  color: #212121;
}

.apparel-page__prod-name p:last-child {
  font-weight: bold;
  margin-top: 10px;
}

/* 어패럴 필터창 구현 시작 */
.apparel-filter {
  position: absolute;
  top: 58px;
  width: 100%;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-top: none;
  display: none;
}

.apparel-filter ul > li {
  width: calc(100% / 5);
  border-left: 1px solid #d9d9d9;
  padding-bottom: 10px;
}

.apparel-filter ul > li:first-child {
  border-left: none;
}

.apparel-filter__title {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 20px 10px;
}

.apparel-filter .ctn-left {
  width: calc(100% / 2);
  margin-left: 10px;
}

.apparel-filter .ctn-right {
  width: calc(100% / 2);
  margin-left: 10px;
}

.filter-check {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
}

.filter-check:hover .icon-box path {
  fill: #000;
}

.filter-check.active .icon-box {
  display: none;
}

.filter-check.active .icon-check-box {
  display: block;
}

.icon-box,
.icon-check-box {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 5px;
}

.icon-check-box {
  display: none;
}

.color-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 3px;
}

.apparel-filter__ctn p {
  font-size: 16px;
  margin: 2px 0 0 0;
  color: #212121;
}

.filter-btn-wrap {
  border-top: 1px solid #d9d9d9;
  justify-content: end;
}

.filter-btn {
  width: 130px;
  height: 38px;
  border-radius: 8px;
  border: 1px solid;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.filter-btn1 {
  border-color: #d9d9d9;
}

.apparel-filter ul > li:first-child .filter-check:last-child .color-circle {
  border: 1px solid #afafaf;
}

.apparel-page__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  padding: 60px 0;
}

.apparel-page__bottom p {
  cursor: pointer;
  color: #7f7f7f;
  font-size: 18px;
}

.apparel-page__bottom p.active {
  font-weight: bold;
  color: #212121;
}

.bottom-arrow {
  font-weight: 600 !important;
  cursor: pointer;
  margin-bottom: 3px;
}
/* 어패럴 필터창 구현 끝 */

/* 화면의 너비가 800px 이상 */
@media (width >= 800px) {
  .top-bar:hover {
    background-color: #fff;
  }
  .top-bar__menu-box ul li a:hover::after {
    width: 100%;
  }
  .top__bar-icon-box a:hover {
    background-color: #d9d9d9;
  }
  .apparel-page__prod ul {
    --cc: 3;
  }
  .apparel-page__prod ul.active {
    --cc: 4;
    --gap: 20px;
    /* 		gap: 50px var(--gap); */
  }
  .apparel-page__prod-img:hover .apparel-page__default-img {
    opacity: 0;
  }
  .apparel-page__prod-img:hover .apparel-page__swiper {
    opacity: 1;
  }
  .icon-heart:hover {
    transform: scale(120%);
  }
  .apparel-page__filter-line .mobile-step-view,
  .mobile-two-step-view {
    display: none;
  }
  .pc-step-view .pc-four-step-view rect {
    stroke: black;
    fill: white;
  }
  .pc-step-view .pc-three-step-view {
    display: none;
  }
  .pc-step-view .pc-four-step-view::after {
    content: "4단보기";
    position: absolute;
    top: 100%;
    left: -60%;
    font-size: 14px;
    display: none;
  }
  .pc-step-view .pc-four-step-view:hover::after {
    display: block;
  }
  .apparel-page__filter-line .pc-three-step-view::after {
    content: "3단보기";
    position: absolute;
    top: 100%;
    left: -60%;
    font-size: 14px;
    display: none;
  }
  .apparel-page__filter-line .pc-three-step-view:hover::after {
    display: block;
  }
  .apparel-page__filter-line .pc-three-step-view rect {
    fill: white;
    stroke: black;
    transform: rotate(90deg);
  }
  .mobile-apparel-filter {
    display: none;
  }
  .apparel-page .mobile-icon-filter {
    display: none;
  }
  .apparel-page__filter-line .pc-step-view.active .pc-four-step-view {
    display: none;
  }
  .apparel-page__filter-line .pc-step-view.active .pc-three-step-view {
    display: flex;
  }
}

/* 화면의 너비가 900px 이하 */
@media (900px >= width) {
  .apparel-page__filter-line {
    top: 70px;
  }
}

/* 화면의 너비가 800px 이하 */
@media (800px >= width) {
  .apparel-page {
    margin: 0 7px;
    padding-top: 140px;
  }
  .apparel-page__prod {
    margin-top: 30px;
  }
  .apparel-page__prod ul {
    --cc: 2;
    --gap: 10px;
    gap: 30px var(--gap);
  }
  .apparel-page__prod ul.active {
    --cc: 3;
    --gap: 7px;
  }
  .apparel-page__prod ul.active .apparel-page__prod-name {
    font-size: 13px;
    line-height: 17px;
  }
  .apparel-page__category ul {
    column-gap: 23px;
  }
  .apparel-page__category ul li p {
    font-size: 16px;
  }
  .apparel-page__category ul li p::after {
    top: -8px;
    width: 5px;
    height: 5px;
  }
  .apparel-page__filter-line {
    margin-top: 30px;
  }
  .apparel-page__filter-line > div {
    column-gap: 10px;
  }
  .apparel-page__filter-line h3 {
    font-size: 16px;
  }
  .apparel-page__filter-line .pc-filter {
    display: none;
  }
  .apparel-page__prod .apparel-page__prod-img img {
    padding: 20px;
  }
  .apparel-page__banner-text {
    bottom: 7%;
    font-size: 12px;
    padding: 0 5px;
    z-index: 3;
  }
  .apparel-page__banner-text a {
    font-size: 12px;
  }
  .apparel-page__banner-text p {
    margin-bottom: 5px;
  }
  .apparel-page__swiper {
    opacity: 1;
  }
  .apparel-page__default-img {
    opacity: 0;
  }
  .apparel-page__prod-img .swiper-button {
    font-size: 17px;
  }
  .apparel-page__prod ul.active .swiper-button {
    font-size: 15px;
  }
  .apparel-page__prod-img .swiper-button-prev {
    left: -5px;
  }
  .apparel-page__prod-img .swiper-button-next {
    right: -5px;
  }
  .apparel-page__prod-name {
    font-size: 14px;
    line-height: 23px;
  }
  .apparel-page__prod-img .icon-heart {
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
  }
  .apparel-page__prod-name p:first-child {
    margin-bottom: 13px;
  }

  /* 모바일 어패럴 필터창 구현 시작 */
  .mobile-apparel-filter {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    display: none;
  }
  .mobile-apparel-filter__top p {
    font-size: 14px;
    cursor: pointer;
    color: #7f7f7f;
  }
  .mobile-apparel-filter__top p.active {
    font-weight: bold;
    color: #212121;
  }
  .mobile-apparel-filter__line {
    border-bottom: 1px solid #afafaf;
    font-size: 14px;
    padding-bottom: 10px;
    overflow: auto;
  }
  .mobile-apparel-filter__line .filter-category {
    cursor: pointer;
    white-space: nowrap;
    color: #7f7f7f;
  }
  .mobile-apparel-filter .filter-category-ctn {
    font-size: 14px;
    margin-top: 15px;
    width: 100%;
    display: none;
  }
  .mobile-apparel-filter .filter-category.active {
    color: #212121;
    font-weight: bold;
  }
  .filter-category-ctn.active {
    display: flex;
  }
  .filter-category-ctn .ctn-left,
  .ctn-right {
    width: 50%;
  }

  .filter-category-ctn .icon-box-wrap {
    margin-left: -6px;
  }
  .mobile-apparel-filter .filter-btn {
    width: 50%;
    margin-right: 0;
  }
  .apparel-page .pc-icon-filter {
    display: none;
  }
  .mobile-icon-filter.active {
    font-weight: bold;
    color: #212121;
  }
  .mobile-icon-filter.active svg {
    transform: rotate(180deg);
    margin-top: 2px;
  }
  .apparel-page__filter-line .mobile-step-view {
    display: flex;
  }
  .apparel-page__filter-line .pc-step-view {
    display: none;
  }
  .apparel-page__filter-line .mobile-two-step-view {
    display: none;
  }
  .apparel-page__filter-line .mobile-three-step-view {
    display: flex;
  }
  .apparel-page__filter-line .mobile-step-view rect {
    fill: white;
    stroke: black;
    transform: rotate(90deg);
  }
  .apparel-page__filter-line .mobile-step-view.active .mobile-three-step-view {
    display: none;
  }
  .apparel-page__filter-line .mobile-step-view.active .mobile-two-step-view {
    display: flex;
  }
  .apparel-page__bottom {
    column-gap: 11px;
    padding: 50px 0;
  }
  .apparel-page__bottom p {
    font-size: 16px;
  }
  .apparel-page__bottom .bottom-arrow-prev {
    margin-right: 10px;
  }
  .apparel-page__bottom .bottom-arrow-next {
    margin-left: 10px;
  }
  /* 모바일 어패럴 필터창 구현 끝 */
}
/* 어패럴 상품 페이지 구현 끝 */

/* 어패럴 페이지 헬프 버튼 수정 */
@media (600px >= width) {
  .help-side-btn {
    top: 70%;
    z-index: 2;
  }
}

/* 어패럴 페이지 페이지업 버튼 수정 */
.page-up {
  z-index: 3;
}
